//- ActivityMan-online | An online activity manager
//- Copyright (C) 2023  pssr8
//- 
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- any later version.
//- 
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//- 
//- You should have received a copy of the GNU General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.





extends ./base.pug

block cuerpo 
    h2 Users
    table(border="1") 
        thead 
            tr 
                th name
                th username
                th permissions
                th isAdmin
                th delete
        tbody 
            each eachUser in users
                mixin allowButton(perm, isallow)
                    form(action="/set-user", method="post") 
                        input(type="hidden", name=perm, value=(new Boolean(!isallow)))
                        input(type="hidden", name="username", value=eachUser.username)
                        button(type="submit")=(isallow)? 'Disallow' : 'Allow'
                tr 
                    td #{eachUser.name}
                    td #{eachUser.username}
                    td 
                        - let {'actis_control': actisC, 'assis_control': assisC, 'users_control': usersC} =eachUser.permissions
                        div
                            span Control-actis: #{actisC}
                            br
                            if !eachUser.isAdmin()
                                +allowButton('actis_control', actisC)
                        div
                            span Control-assis: #{assisC}
                            br
                            if !eachUser.isAdmin()
                                +allowButton('assis_control', assisC)
                        div
                            span Control-users: #{usersC}
                            br
                            if !eachUser.isAdmin()
                                +allowButton('users_control', usersC)
                    td #{eachUser.isAdmin()}
                    td
                        if !eachUser.isAdmin()
                            form(action="/delete-user", method="post")
                                input(type="hidden", name="username", value=eachUser.username) 
                                button(type="submit") X
                        else 
                            span.muted Not allowed
    .add-user
        form(action="/set-user", method="post") 
            hr
            table 
                thead 
                    tr 
                        th Username (ID)*
                        th Name
                        th New password
                tbody
                    tr 
                        td
                            input#username(type="text", name="username", required)
                        td 
                            input#name(type="text", name="name")
                        td
                            input#password(type="text", name="password")
            button(type="submit") > Set user
            

    
    
    //- h3 json: 
    //- pre=JSON.stringify(users, null, 4)