//- ActivityMan-online | An online activity manager
//- Copyright (C) 2023  pssr8
//- 
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- any later version.
//- 
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//- 
//- You should have received a copy of the GNU General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.


extends ./base.pug

block title 
    | Users

block cuerpo 
    //- VARIABLES
    - let setUserUrl="/users/set-user"
    - let deleteUserUrl="/users/delete-user"
    - let self = chassis.sessionUser
    //- APP
    table(border="1") 
        thead 
            tr 
                th Name
                th Username
                th Permissions
                if self.admin
                    th Is admin
                th Delete
        tbody 
            //- ITERATOR
            each eachUser in users
                if self.admin || !eachUser.isAdmin()
                    mixin allowButton(perm, isallow)
                        form(action=setUserUrl, method="post") 
                            input(type="hidden", name=perm, value=(new Boolean(!isallow)))
                            input(type="hidden", name="username", value=eachUser.username)
                            button(type="submit")=(isallow)? 'Disallow' : 'Allow'
                    //- ROW
                    tr 
                        //- NAME
                        td #{eachUser.name}
                        //- USERNAME
                        td #{eachUser.username}
                        //- PERMISSIONS
                        td 
                            - let {'actis_control': actisC, 'assis_control': assisC, 'users_control': usersC} =eachUser.permissions
                            div
                                //- ACTIS
                                span Control-actis: #{actisC}
                                br
                                if !eachUser.isAdmin()
                                    +allowButton('actis_control', actisC)
                            div
                                //- ASSIS
                                span Control-assis: #{assisC}
                                br
                                if !eachUser.isAdmin()
                                    +allowButton('assis_control', assisC)
                            div
                                //- USERS
                                span Control-users: #{usersC}
                                br
                                if !eachUser.isAdmin()
                                    +allowButton('users_control', usersC)
                        //- ADMIN
                        if self.admin
                            td 
                                if eachUser.isAdmin()
                                    span Yes 👑
                                else
                                    span No
                                    form(action=setUserUrl, method="post") 
                                        input(type="hidden", name="username", value=eachUser.username)
                                        input(type="hidden", name="setAdmin", value='true')
                                        button(type="submit") Make admin
                        //- DELETE
                        td
                            form(action=deleteUserUrl, method="post")
                                input(type="hidden", name="username", value=eachUser.username) 
                                button(type="submit") X
    hr
    .add-user
        p.muted If you want to edit an existing user, enter at least the username. If you want to create a new user, enter at least the username and a password.
        form(action=setUserUrl, method="post") 
            table 
                thead 
                    tr 
                        th Username (ID)*
                        th Name
                        th New password
                tbody
                    tr 
                        td
                            input#username(type="text", name="username", required)
                        td 
                            input#name(type="text", name="name")
                        td
                            input#password(type="text", name="password")
            button(type="submit") > Set user
            

    
    
    //- h3 json: 
    //- pre=JSON.stringify(users, null, 4)