//- ActivityMan-online | An online activity manager
//- Copyright (C) 2023  pssr8
//- 
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- any later version.
//- 
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//- 
//- You should have received a copy of the GNU General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.





extends ./base.pug

block cuerpo 
    h2 Users
    table 
        thead 
            tr 
                th name
                th username
                th permissions
                th isMain
                th delete
        tbody 
            each user in users
                tr 
                    td #{user.name}
                    td #{user.username}
                    td #{JSON.stringify(user.permissions)}
                    td #{user.isAdmin()}
                    td
                        if !user.isAdmin()
                            button X
                        else 
                            span.muted Not allowed
    .add-user
        form(action="/set-user", method="post") 
            hr
            table 
                thead 
                    tr 
                        th Name
                        th Username
                        th Permissions
                        th New password
                tbody
                    tr 
                        td 
                            input#name(type="text", name="name")
                        td
                            input#username(type="text", name="username", required)
                        td
                            label(for="actis-control") 
                                input#actis-control(type="checkbox", name="actis-control")
                                span Control activities
                            br
                            label(for="assis-control") 
                                input#assis-control(type="checkbox", name="assis-control")
                                span Control assistants
                            br
                            label(for="users-control") 
                                input#users-control(type="checkbox", name="users-control")
                                span Control users
                        td 
                            input#password(type="text", name="password")
            button(type="submit") > Set user
            

    
    
    //- h3 json: 
    //- pre=JSON.stringify(users, null, 4)